.img {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.img img {
  margin-top: 30px;
  margin-right: 30px;
}

.image {
  display: flex;
}

.image h4 {
  color: black;
  font-size: 22px;
  margin-bottom: 0px;
}

.image p {
  padding: 0px;
  color: #0300ad;
  font-size: 20px;
}

.specificimage {
  background-color: #f5f9fa;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.bluelabel {
  background-color: #0300ad;
  width: fit-content;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  padding: 5px 20px;
  color: white;
  font-weight: 200;

  /* display: inline-block; */
  /* vertical-align: middle; */
}

.cardend {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.df {
  display: flex;
  justify-content: flex-end;
}

.dfs {
  display: flex;
  align-items: center;
}

.dfs h4 {
  padding-left: 10px;
}

.df p {
  font-size: 18px;
  padding: 0px;
  margin-top: auto;
  padding-bottom: 9px;
}

.df h4 {
  padding-left: 10px;
  font-size: 40px;
  margin-top: auto;
  color: black;
}

.cardbtn button {
  border: none;
  height: 57px;
  width: 150px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  font-family: Nunito;
}

.cardbtn button:first-child {
  margin-right: 15px;
  border: 1px solid #0300ad;
  background-color: white;
  color: #0300ad;
}

.cardbtn button:nth-child(2) {
  background-color: #0300ad;
  color: white;
}

.top {
  height: 230px;
  background-color: lightblue;
}

.bar {
  margin: 0 5%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.bar button {
  box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
}

.barbottom {
  margin: 0 5%;
  transform: translateY(-39px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperbar {
  display: flex;
  min-width: 100px;
}

.searchbar {
  border-radius: 25px 0px 0px 25px;
  border: none;
  height: 100px;
  width: 900px;
  box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
}

.searchbutton {
  height: 100px;
  display: inline;
  border: none;
  width: 100px;
  border-radius: 0px 25px 25px 0px;
  background-color: #0300ad;
  color: white;
  cursor: pointer;
}

.searchbar,
textarea {
  background-color: white;
  opacity: 1;
  padding-left: 50px;
  margin-bottom: 0.01px;
}

.btn {
  border: none;
  border-radius: 25px;
  height: 100px;
  background-color: white;
  width: 100px;
  cursor: pointer;
}

.heading {
  margin: 0 5%;
  margin-top: 50px;
}

.heading h4 {
  font-size: 30px;
  padding-top: 0px;
}

.heading input {
  padding: 0px;
  margin-bottom: 0px;
  width: 54px;
  height: 54px;
  /* border-radius: 30px; */
  border: 1px solid #0300ad;
  border-radius: 10px;
  vertical-align: middle;
  /* border: 1px solid black; */
  appearance: none;
  /* -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
}

.heading input:focus {
  background-color: #0300ad;
  opacity: 1;
}

.image input {
  align-self: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 25px;
  width: 54px;
  height: 54px;
  /* border-radius: 30px; */
  border: 1px solid #0300ad;
  border-radius: 10px;
  vertical-align: middle;
  /* border: 1px solid black; */
  appearance: none;
  /* -webkit-appearance: none; */
  outline: none;
  cursor: pointer;
}

.image input:focus {
  background-color: #0300ad;
  opacity: 1;
}

.cards {
  margin: 0 5%;
  padding-top: 50px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card {
  height: 200px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
  margin-bottom: 30px;
}

.total {
  height: 230px;
  margin-left: 20px;
  border-radius: 25px;
  padding: 30px;
  box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
  margin-bottom: 30px;
}

.total h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.total div {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.total div p {
  padding: 0px;
}

.bill {
  margin-top: 30px;
}

.bill p {
  color: black;
  font-weight: 700;
}

.gridcontainer {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.pagination {
  width: fit-content;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  margin: 0 20px;
  padding: 10px;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.pagination a:focus {
  width: 45px;
  text-align: center;
  background-color: #0300ad;
  border-radius: 100px;
  color: white;
}

.counterbar {
  align-content: center;
}

.counter {
  border: 1px solid #0300ad;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.counter p {
  padding: 0px 10px;
  color: black;
  font-weight: 700;
}

.counter button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 25px;
  font-weight: 100;
  color: #0300ad;
}

.numbercounter {
  width: 90px;
  text-align: center;
  font-size: 23px;
}
