h2 {
  font-weight: 800;
  font-size: 60px;
}

h3 {
  font-size: 40px;
  padding-bottom: 20px;
}

p {
  font-weight: 600;
  font-size: 18px;
  color: #777777;
  padding-bottom: 20px;
}

input {
  height: 54px;
  width: 400px;
  border: 1px solid #777777;
  border-radius: 15px;
  opacity: 0.5;
  margin-bottom: 15px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 18px;
  padding-left: 80px;
}

form {
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  font-weight: 600;
}

.nav {
  height: 100px;
  background-color: #edf2fa;
}

.one {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.one > img {
  margin-right: 10px;
}

.df {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.hero {
  height: 600px;
  background-color: #edf2fa;
}

.dfhero {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.container {
  margin: 0 5%;
}

.df > div > a {
  margin-right: 90px;
  color: black;
  font-weight: 600;
}

.df > div > a:hover {
  font-weight: 800;
}

.df > div:nth-child(2) {
  margin-left: 200px;
  color: black;
}

.df > div:first-child {
  font-weight: 800;
  font-size: 22px;
  color: #0300ad;
  text-transform: capitalize;
}

.lefthero {
  width: 510px;
}

.lefthero > h2 {
  font-weight: 800;
  font-size: 60px;
}

.lefthero > p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: left;
}

.herobtn > Button {
  margin-right: 20px;
}

.herobtn > Button:nth-child(2) {
  background-color: #edf2fa;
  border: 1px solid #0300ad;
  box-shadow: none;
}

.blue {
  color: #0300ad;
}

.image {
  width: 55%;
  height: 40vw;
  background-image: url("./Group\ 175.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 5px;
  margin-right: 20px;
}

.title {
  text-transform: capitalize;
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title h2 {
  align-self: center;
  text-align: center;
  width: 500px;
  margin-top: 20px;
}

.box {
  background-color: #edf2fa;
  width: fit-content;
  height: fit-content;
  align-self: center;
  text-align: center;
  border-radius: 25px;
  padding: 10px 20px;

  /* display: inline-block; */
  vertical-align: middle;
}

.box > p {
  vertical-align: middle;
  padding-bottom: 0px;
  color: #0300ad;
}

.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  padding-top: 50px;
}

.gridfooter {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  padding: 10px;
}

.itemfooter {
  border-radius: 20px;
  padding: 20px;
}

.griditem {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  height: 420px;
  padding: 30px;
  font-size: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.griditem:hover {
  transform: translateY(-0.9rem);
  transition-duration: 0.5s;
  background-color: #0300ad;
  color: #edf2fa;
  border: none;
  box-shadow: 5px 4px 50px 0px #0300ad33;
}

.griditem:hover > p {
  color: #edf2fa;
}

.griditem > h4 {
  margin-bottom: 20px;
  text-transform: capitalize;
}

.lastcontent {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 40px;
  height: 550px;
  background-image: url("./Subscribe\ Us.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  height: 400px;
  background-image: url("./Rectangle\ 63.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  padding: 100px;
  text-transform: capitalize;
}

.itemfooter > h4 {
  padding-bottom: 20px;
}

.itemfooter > ul > li {
  list-style-type: none;
  padding-bottom: 10px;
}

.itemfooter > p {
  color: black;
  font-size: 15px;
  width: 180px;
  padding-top: 10px;
}
